.title{
  text-align:center;
  margin: 80px 0;
}
label{
  text-align:center;
}
.col-sm-4{
  padding:30px 30px 30px 30px;
}
.content{
  background-color: grey;
  text-align:center;
}
.search-group{
  margin:30px 0 30px 0;
}