h1{
  margin: 50px 0;
  text-align: center;
}
.answer{
  width:96%;
  float:left;
}
.remove-answer{
  width:3%;
  height: 35px;
  line-height: 25px !important;
}
.add-answer{
  float:right;
  width: 100px;
  margin: -5px 0 5px 0;
}
.available_to{
  margin-left:100px;
}