<div class="container d-table">
    <div class="d-100vh-va-middle">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mx-2">
                    <div class="card-block p-2">
                        <h1>Reset</h1>
                        <p class="text-muted">Reset your password</p>
                        <form name="form" (ngSubmit)="f.form.valid && send_password_reset_email()" #f="ngForm" novalidate>
                            <div class="input-group mb-1" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="model.email" #email="ngModel" (change)="onEmailChange($event)" required />
                            </div>
                            <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
                            <div *ngIf="f.submitted && has_no_email" class="help-block">
                                Email does not exist.</div>
                            <div class="input-group mb-1">
                                <button [disabled]="loading" class="btn btn-block btn-success">Send Email To Reset Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
