.detail{
  margin-top: 100px;
}
.detail-spec{
  background-color: #eceff1;
  border-bottom: 1px solid #cfd8dc;
}
.select-number{
  margin-left: 30px;
  margin-top: 20px;
}
.buyable-label{
  margin-left: 50px;
}