<div class="card card-inverse" [class.card-primary]="iframe_class === 'card-primary'" [class.card-info]="iframe_class === 'card-info'" [class.card-warning]="iframe_class === 'card-warning'" [class.card-danger]="iframe_class === 'card-danger'">
    <div class="card-block pb-0">
        <div class="btn-group float-xs-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" dropdownMenu>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <h4 class="mb-0">{{iframe_number}}</h4>
        <p>{{iframe_title}}</p>
    </div>
    <div class="chart-wrapper px-1" style="height:70px;">
        <canvas baseChart class="chart" [datasets]="iframe_data_sets" [labels]="iframe_labels" [options]="iframe_options" [colors]="iframe_color" [legend]="iframe_legent" [chartType]="iframe_type" (chartHover)="chartHovered($event)" (chartClick)="modal.open()"></canvas>
    </div>
</div>

<modal #modal [animation]="'true'">
    <modal-header>
        <h4 class="modal-title">Settings</h4>
    </modal-header>
    <modal-body>
      <div class="row">
        <div class="col-sm-6 col-lg-6">
          User
          <autocomplete (setUser)="changeUser($event)" [data]="users" [init_value]="user_name"></autocomplete>
        </div>
        <div class="col-sm-6 col-lg-6">
          Department
          <select class="form-control" [(ngModel)]="department_id">
              <option *ngFor="let department of departments" [value]="department._id">{{department.department}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-6">
          Start Date
          <input #date_from_el type="text" class="form-control" [(ngModel)]="date_from">
        </div>
        <div class="col-sm-6 col-lg-6">
          End Date
          <input #date_end_el type="text" class="form-control" [(ngModel)]="date_end">
        </div>
      </div>
    </modal-body>
    <modal-footer>
      <div class="row">
        <div class="offset-sm-5 col-sm-2">
          <button type="button" class="btn btn-default" data-dismiss="modal" autofocus (click)="modal.dismiss(); changeSetting();">OK</button>
        </div>
      </div>
    </modal-footer>
</modal>