.row{
  margin-top: 50px;
}
.second {
  margin-top: 150px;
}
.third {
  margin-top: 180px;
}
.export {
  position: relative;
  button {
    cursor: pointer;
  }
}
.export:hover .dropdown {
  display: block;
}
.dropdown {
  position: absolute;
  z-index: 100;
  background: white;
  left: 15px;
  right: 25px;
  list-style: none;
  padding: 0;
  margin-top: 1px;
  display: none;
  top: 56px;

  li{
    padding: 20px 10px 8px;
    width: 100%;
    cursor: pointer;
  }
  li:not(:last-child) {
    border-bottom: 1px solid RGB(200,200,200);  
  } 
}
.export-graph {
  width:47%;
  display: block;
}
.export-csv {
  width: 47%;
  display: block;
  padding: 8px 2px;
  text-align: center;
}
.export-span{
  display: block;
}