<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <block_iframe [iframe_class]="'card-primary'" [iframe_options]="lineChart1Options" [iframe_color]="lineChart1Colours" [iframe_type]="lineChart1Type" [iframe_labels]="lineChart1Labels" [iframe_data_sets]="lineChart1Data" [iframe_legent]="lineChart1Legend" [iframe_number]="total_logons" [iframe_title]="'Log Ons'"></block_iframe>
    </div>
    <div class="col-sm-3">
      <block_iframe [iframe_class]="'card-info'" [iframe_options]="lineChart2Options" [iframe_color]="lineChart2Colours" [iframe_data_sets]="lineChart2Data" [iframe_type]="lineChart2Type" [iframe_labels]="lineChart2Labels" [iframe_legent]="lineChart2Legend" [iframe_number]="total_tasks_completed" [iframe_title]="'Tasks Completed'"></block_iframe>
    </div>
    <div class="col-sm-3">
      <block_iframe [iframe_class]="'card-warning'" [iframe_options]="lineChart3Options" [iframe_color]="lineChart3Colours" [iframe_data_sets]="lineChart3Data" [iframe_type]="lineChart3Type" [iframe_labels]="lineChart3Labels" [iframe_legent]="lineChart3Legend" [iframe_number]="total_points_awarded" [iframe_title]="'Points Awarded'"></block_iframe>
    </div>
    <div class="col-sm-3">
      <block_iframe [iframe_class]="'card-danger'" [iframe_options]="lineChart4Options" [iframe_color]="lineChart4Colours" [iframe_data_sets]="lineChart4Data" [iframe_type]="lineChart4Type" [iframe_labels]="lineChart4Labels" [iframe_legent]="lineChart4legend" [iframe_number]="total_reward_redemptions" [iframe_title]="'Reward Redemptions'"></block_iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <block_chart [isDataSet] = "'1'" [iframe_class]="'card-danger'" [iframe_options]="lineChartOptions" [iframe_color]="lineChartColours" [iframe_data_sets]="lineChartData" [iframe_type]="lineChartType" [iframe_labels]="lineChartLabels" [iframe_legent]="lineChartlegend" [iframe_number]="total_reward_redemptions" [iframe_title]="'Top Videos'"></block_chart>
    </div>
    <div class="col-sm-6">
      <block_chart [isDataSet] = "'1'" [iframe_class]="'card-danger'" [iframe_options]="barChartOptions" [iframe_color]="barChartColours" [iframe_data_sets]="barChartData" [iframe_type]="barChartType" [iframe_labels]="barChartLabels" [iframe_legent]="barChartlegend" [iframe_number]="total_reward_redemptions" [iframe_title]="'Top Quizzes'"></block_chart>
    </div>
  </div>
  <div class="row second">
    <div class="col-sm-6">
      <block_chart [isDataSet] = "'0'" [iframe_data]="doughnutChartData" [iframe_type]="doughnutChartType" [iframe_labels]="doughnutChartLabels" [iframe_title]="'Most Point Users'"></block_chart>
    </div>
    <div class="col-sm-6">
      <block_chart [isDataSet] = "'1'" [iframe_data_sets]="radarChartData" [iframe_type]="radarChartType" [iframe_labels]="radarChartLabels" [iframe_title]="'Most Point Departments'"></block_chart>
    </div>
  </div>
  <div class="row third">
    <div class="col-sm-6">
      <block_chart [isDataSet] = "'1'" [iframe_class]="'card-danger'" [iframe_options]="barChartOptions" [iframe_color]="barChartColours" [iframe_data_sets]="numberOfTasksByUserData" [iframe_type]="barChartType" [iframe_labels]="numberOfTasksByUserLabels" [iframe_legent]="barChartlegend" [iframe_number]="total_reward_redemptions" [iframe_title]="'Number Of Tasks Completed By User'"></block_chart>
    </div>
    <div class="col-sm-6">
      <block_chart [isDataSet] = "'1'" [iframe_class]="'card-danger'" [iframe_options]="lineChartOptions" [iframe_color]="lineChartColours" [iframe_data_sets]="mostRewardRedemptionsChardData" [iframe_type]="lineChartType" [iframe_labels]="mostRewardRedemptionsChardLabels" [iframe_legent]="lineChartlegend" [iframe_number]="total_reward_redemptions" [iframe_title]="'Most Reward Redemptions'"></block_chart>
    </div>
  </div>
  <div class="row third">
    <div class="col-sm-6">
      <block_chart [isDataSet] = "'0'" [iframe_data]="avgPointOfAssignmentChartData" [iframe_type]="doughnutChartType" [iframe_labels]="avgPointOfAssignmentChartLabels" [iframe_title]="'Average Point of Assignment'"></block_chart>
    </div>
    <div class="col-sm-6">
      <block_chart [isDataSet] = "'1'" [iframe_class]="'card-danger'" [iframe_options]="lineChartOptions" [iframe_color]="lineChartColours" [iframe_data_sets]="pointValueOverTimeChartData" [iframe_type]="lineChartType" [iframe_labels]="pointValueOverTimeChartLabels" [iframe_legent]="lineChartlegend" [iframe_number]="total_reward_redemptions" [iframe_title]="'Point Value Over Time'"></block_chart>
    </div>
  </div>
</div>