.container {
  margin-top: 50px;
  .take-me-button {
    margin-top: 50px;
    text-align: center;
  }
  .title   {
    text-align: center;
  }
  .notice {
    text-align: center;
  }
  .reward {
    text-align: center;
  }
  .date {
    text-align: center;
  }
}
