<div class="container" *ngIf="content">
  <div class="row">
    <div class="offset-sm-5 col-sm-2">
      <h1>{{content.title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="offset-sm-5 col-sm-2">
      Rewards: {{content.reward}}
    </div>
  </div>
  <div class="row">
    <div class="offset-sm-5 col-sm-2">
      End Date: {{content.date_end | date: 'dd/MM/yyyy'}}
    </div>
  </div>
  <div class="row">
    <div class="offset-sm-5 col-sm-2">
      <a [href]="content.reference_link">Reference Link</a>
    </div>
  </div>

  <div class="row" *ngFor="let question of content.quizzes">
    <div class="offset-sm-3 col-sm-9">
      {{content.quizzes.indexOf(question) + 1}} : {{question.question}}
    </div>
  </div>
  <div class="row take-me-button">
    <button class="btn btn-primary btn-sm" (click)="to_quiz_activity()">Take me to quiz</button>
  </div>
</div>
