<div class="container">
    <h1> Manage Reward </h1>
    <div class="row">
        <div class="col-sm-8">
           <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div> 
        </div>

        <div class="offset-sm-2 col-sm-2">
            <a class="btn btn-primary btn-block" [routerLink] = "'/admin/new_reward'">ADD</a>
        </div>
    </div>
    <div class="row">
        <h3>Reward</h3>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped">
            <thead class="thead-default">
                <tr>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Cost</th>
                    <th>Details</th>
                    <th>Available To</th>
                    <th>Date End</th>
                    <th col=1></th>
                </tr>
            </thead>
            <tbody *ngIf="rewards.length === 0">
                <tr>
                    <td colspan="4">There are no active rewards in the DB. Add a new reward below.</td>
                </tr>  
            </tbody>
            <tbody>
                <tr *ngFor="let reward of rewards">
                    <td>{{reward.name}}</td>
                    <td>{{reward.company.company_name}}</td>
                    <td>{{reward.cost}}</td>
                    <td>{{reward.details}}</td>
                    <td>
                        <span *ngFor="let department of reward.available_to">{{department.department}} </span>
                    </td>
                    <td>{{reward.date_end | date: 'dd/MM/yyyy'}}</td>
                    <td class="remove-col">
                        <i class="fa fa-remove fa-lg mt-2 remove-icon" (click)="onClick(reward)"></i>
                    </td> 
                </tr>  
            </tbody>
        </table>
    </div>
</div>