<div class="row user-for-analytics">
  <div class="col-sm-4">
    <h2> Employees </h2>
  </div>
  <div class=col-sm-2>
  </div>
  <div class="col-sm-3 col-lg-3">
    Start Date
    <input #date_from_el type="text" class="form-control" [(ngModel)]="date_from">
  </div>
  <div class="col-sm-3 col-lg-3">
    End Date
    <input #date_end_el type="text" class="form-control" [(ngModel)]="date_end">
  </div>
</div>
<table class="table table-hover table-outline mb-0 hidden-sm-down">
  <thead class="thead-default">
    <tr>
      <th (click)="sort_by_user_name()">User      <i class="fa fa-sort-down fa-lg mt-2"></i></th>
      <th (click)="sort_by_points_earned()">Points Earned   <i class="fa fa-sort-down fa-lg mt-2"></i></th>
      <th (click)="sort_by_points_redeemed()">Points Redeemed   <i class="fa fa-sort-down fa-lg mt-2"></i></th>
      <th (click)="sort_by_last_login()">Activity   <i class="fa fa-sort-down fa-lg mt-2"></i></th>
    </tr>
  </thead>
  <tbody *ngIf="users_for_analytics.length > 0">
    <tr *ngFor="let user of users_for_analytics">
      <td>
        <a [routerLink]="['../view_activity', user.user_id]">{{user.user_name}}</a>
        <div class="small text-muted">
          <!-- <span>New</span>| {{user.date_joined}} -->
        </div>
      </td>
      <td>
        {{user.points_earned}}
      </td>
      <td class="text-xs-center">
        {{user.points_redeemed}}
      </td>
      <td>
        <div class="small text-muted">Last login</div>
        <strong>{{user.last_login}}</strong>
      </td>
    </tr>
  </tbody>
</table>